In [1]:
import pandas as pd

In [2]:
weather_df = pd.read_csv('../data/internal/weather.csv')

In [3]:
weather_df = weather_df.drop("Rain", axis='columns')

KeyError: "['Rain'] not found in axis"

In [4]:
print(weather_df.head())

  Country             Name Weather    Temp  Humidity  Visibility  Wind speed  \
0      JP            Tokyo   Clear  280.77        57       10000        3.60
1      ID       Pecenongan    Haze  298.99        83        6000        2.06
2      IN        New Delhi    Mist  293.25        83        1500        0.00
3      CN        Guangzhou  Clouds  288.07        47       10000        5.16
4      IN  Konkan Division    Mist  300.18        83        2200        3.09

   Clouds
0       0
1      20
2       0
3      27
4      20

In [5]:
weather_df

,Country,Name,Weather,Temp,Humidity,Visibility,Wind speed,Clouds
0,JP,Tokyo,Clear,280.77,57,10000,3.60,0
1,ID,Pecenongan,Haze,298.99,83,6000,2.06,20
2,IN,New Delhi,Mist,293.25,83,1500,0.00,0
3,CN,Guangzhou,Clouds,288.07,47,10000,5.16,27
4,IN,Konkan Division,Mist,300.18,83,2200,3.09,20
...,...,...,...,...,...,...,...,...
3503,JP,Toyokawa,Clouds,280.24,50,10000,2.68,19
3504,US,City of Newport News,Clear,285.26,56,10000,4.12,0
3505,SS,Yei,Clouds,297.75,66,10000,1.02,56
3506,IN,Adoni,Clear,297.39,70,10000,3.74,6
3507,CN,Luzhang,Clear,288.66,77,10000,1.50,0

In [5]:
weather_df.to_csv('../data/internal/weather.csv',index=False)